
  <input id="hamburger" class="hamburger" type="checkbox" />
  <label for="hamburger" class="hamburger">
    <i></i>
  </label>
    <nav class="primnav primary-color">
      <ul *ngIf="dataUser['level'] == 2">
        <li>
          <a title="Home" routerLink="/home">
            <i class="icon fa fa-home fa-2x" aria-hidden="true"></i> HOME {{dataUser['level']}}
          </a>
        </li>
        <li>
          <a title="Music"  routerLink="/tes">
            <i class="icon fa fa-music fa-2x" aria-hidden="true"></i> Mail
            <div class="tag">53</div>
          </a>
          <ul class="secnav">
            <li>
              <a title="Inbox" href="#inbox">Inbox</a>
            </li>
            <li>
              <a title="Sent" href="#sent">Sent</a>
            </li>
          </ul>
        </li>
      </ul>
      <ul *ngIf="dataUser['level'] == 1">
          <li>
            <a title="Home" routerLink="/home">
              <i class="icon fa fa-home fa-2x" aria-hidden="true"></i> HOME {{dataUser['level']}}
            </a>
          </li>
          <li>
            <a title="Music"  routerLink="/tes">
              <i class="icon fa fa-music fa-2x" aria-hidden="true"></i> Mail
              <div class="tag">53</div>
            </a>
            <ul class="secnav">
              <li>
                <a title="Inbox" href="#inbox">Inbox</a>
              </li>
              <li>
                <a title="Sent" href="#sent">Sent</a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    
  <user id="user">
    <section>
      <img src="{{dataUser['photo']}}" />
      <section>
        <name>{{dataUser['nama_user']}}</name>
        <actions><a href="#settings">Settings</a> | <a (click)="logout()">Logout</a></actions>
      </section>
    </section>
  </user>

  <content class="elegant-color">
    <logo>
      <a href="#">
        <img src="https://mdbootstrap.com/img/logo/mdb-transparent.png" height="30" class="d-inline-block align-top" alt=""> 
      </a>
    </logo>
  </content>
