
  <input id="hamburger" class="hamburger" type="checkbox" />
  <label for="hamburger" class="hamburger">
    <i></i>
  </label>
    <nav class="primnav primary-color">
      <ul>
        <li>
          <a title="Home" href="#dashboard">
            <i class="icon fa fa-home fa-2x" aria-hidden="true"></i> HOME
          </a>
        </li>
        <li>
          <a title="Music" href="#mail">
            <i class="icon fa fa-music fa-2x" aria-hidden="true"></i> Mail
            <div class="tag">53</div>
          </a>
          <ul class="secnav">
            <li>
              <a title="Inbox" href="#inbox">Inbox</a>
            </li>
            <li>
              <a title="Sent" href="#sent">Sent</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  
  <user id="user">
    <section>
      <img src="../assets/img/avatar-user/default-user.png"/>
      <section>
        <name>Sarah Dekhard</name>
        <actions><a href="#settings">settings</a> | <a routerLink="/login">logout</a></actions>
      </section>
    </section>
  </user>

  <content class="elegant-color">
    <logo>
      <a href="#">
        <img src="https://mdbootstrap.com/img/logo/mdb-transparent.png" height="30" class="d-inline-block align-top" alt=""> 
      </a>
    </logo>
  </content>
