/* You can add global styles to this file, and also import other style files */
.show {
    display: block;
}

.hide {
    display: none;
}
main {
    padding-top: 70px;
}

@media (min-width: 650px) {
    main {
        margin-left: 60px;
    }
}